@{
    ViewBag.Title = "Home Page";
}
<style type="text/css">
    .loadMess {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 10000;
    }

    .overlay {
        display: none;
        position: fixed;
        background-color: rgba(0,0,0,0.7);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100%;
        z-index: 10000;
    }
    .footer {
        position: static !important;
        bottom:0px;
    }
</style>
<link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css" rel="Stylesheet" type="text/css" />

<div class="container">
    <div class="row" style="margin-top:8%;">
        <div class="text-center col-lg-12 col-md-12 page_title">
            Restaurants that score a 90 or above <br /> record 30 percent higher sales
        </div>
        <div class="text-center col-lg-12 col-md-12 page_title2">
            How does your restaurant marketing stack up?
        </div>
    </div>
</div>
<div class="container search-area" style="min-height:400px;padding-top:7%;">
    <div class="row text-center">
        <div class="col-md-12">
            @using (Html.BeginForm("Review", "Home", FormMethod.Post, new { @class = "" }))
            {
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
                    <input type="text" id="txtLocation" name="LocationName" class="form-control border-bottom-input" value="San Francisco, CA" onchange="LoadData()" style="width:100%;" />
                </div>
                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <i class="glyphicon glyphicon-triangle-bottom" style="top: 6px;right: 18px;position: absolute;font-size:x-large;"></i>
                    <input type="text" id="txtCustomer" placeholder="Restaurant Name" name="CustomerName" class="form-control border-bottom-input col-md-12" />
                </div>
                <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-9 col-lg-offset-0 col-md-offset-0 col-sm-offset-0  col-xs-offset-3">
                    <input type="submit" id="btnSubmit" value="SUBMIT" disabled="disabled"  class="btn btn-black" onclick="showsl();" />
                </div>
                <div id="overDiv" class="overlay"></div><div id="loadMess" class=" loadMess"><img id="mySpinner" src="~/Content/gif/Spin-1s-95px.gif" /></div>
                <input type="hidden" id="hfCustomer" name="CustomerId" />
            }
        </div>
        @ViewBag.Message
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-1061875490"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEnSTOkBqHX2LDW-yuzXD9Zi3lnQvbe9Y&sensor=false&libraries=places"></script>
    <script>
        google.maps.event.addDomListener(window, 'load', function () {
            var options = {
                types: ['(cities)'],
                componentRestrictions: { country: ["us"] }
            };

            var places = new google.maps.places.Autocomplete(document.getElementById('txtLocation'), options);

            places.set
            google.maps.event.addListener(places, 'place_changed', function () {

                var place = places.getPlace();

                var latitude = place.geometry.location.lat();
                var longitude = place.geometry.location.lng();

                var targetDate = new Date(); // Current date/time of user computer
                var timestamp = targetDate.getTime() / 1000 + targetDate.getTimezoneOffset() * 60; // Current UTC date/time expressed as seconds since midnight, January 1, 1970 UTC
                var apikey = 'AIzaSyBEnSTOkBqHX2LDW-yuzXD9Zi3lnQvbe9Y';
                var apicall = 'https://maps.googleapis.com/maps/api/timezone/json?location=' + latitude + ',' + longitude + '&timestamp=' + timestamp + '&key=' + apikey;

                var xhr = new XMLHttpRequest(); // create new XMLHttpRequest2 object
                xhr.open('GET', apicall); // open GET request
                xhr.onload = function () {
                    if (xhr.status === 200) { // if Ajax request successful
                        var output = JSON.parse(xhr.responseText); // convert returned JSON string to JSON object
                        if (output.status == 'OK') { // if API reports everything was returned successfully

                            var offsets = output.dstOffset + output.rawOffset; // get DST and time zone offsets in milliseconds
                            var timezone = offsets / 3600; // Date object containing current time of Tokyo (timestamp + dstOffset + rawOffset)
                        }
                    } else {

                    }
                }
                xhr.send(); // send request
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            LoadData();
            
        });
        function showsl() {
          //  debugger;
            ShowLoader();
            var delay = 10;
            var start = new Date().getTime();
            while (new Date().getTime() < start + delay);
           // HideLoader();
          //  alert('done');

        }

        function ShowLoader() {
            $("#overDiv")[0].style.display = 'block';
            $("#loadMess")[0].style.display = 'block';
        }

        function HideLoader() {
            $("#overDiv")[0].style.display = 'none';
            $("#loadMess")[0].style.display = 'none';
        }
        function LoadData() {
            if ($("#txtLocation").val().trim() == "") {
                $("#txtLocation").focus();
                return;
            }
            var xlocation = $("#txtLocation").val();

            $.ajax({
                url: '/Home/GetAllData/',
                data: "{ 'xlocation': '" + xlocation + "'}",
                dataType: "json",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                   
                },
                error: function (response) {
                    //alert(response.responseText);
                },
                failure: function (response) {
                    //alert(response.responseText);
                }
            });
        }
        $(function () {
            $("#txtCustomer").autocomplete({
                source: function (request, response) {
                    var xlocation = $("#txtLocation").val();
                    $.ajax({
                        url: '/Home/AutoComplete/',
                        data: "{ 'prefix': '" + request.term + "','location': '" + xlocation + "'}",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            //alert(response.responseText);
                        },
                        failure: function (response) {
                            //alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    $("#hfCustomer").val(i.item.val);
                     //  debugger                        
                    if (i.item) {
                        $('#btnSubmit').removeAttr('disabled');
                    } 
                },
                
                minLength: 1
            });
        });
    </script>
}