.img-round-border {
    border-radius: 50%;
    
    border: 10px solid white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin-top: -30%;
    /*margin-left: 20%;*/
}

.card:hover {
    box-shadow: 0 8px 26px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background: #f9f5f5;
}
.card-inverse {
    background: white;
}
.card-container {
    padding: 2px 16px;
}
.card-container .titel{
    width:100%;
   
}

.card-container, .titel, h4 {
    font-size: 18px;
    margin-top: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    display: block;
    margin-bottom: 2px;
}
.card-container, .titel, span {
    padding-top: 0px;
    font-weight: 600;
    font-size: 14px;
}
.card-container, .titel, p {
    padding-top: 15px;
    font-weight: 100;
}

.btn-yellow {
    color: black;
    background-color: #ffcd00;
    border-color: #ffcd00;
    margin-bottom: 5px;
}
.btn-review {
    color: black;
    background-color: #72a0fe;
    border-color: #72a0fe;
}


.circular-progress-bar {
    position: relative;
    margin: 0 auto;
    height: 50% !important;
}

.progress-percentage, .progress-text {
    position: absolute;
    width: 100%;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0px 60px;
}

.progress-percentage {
    font-size: 30px;
    transform: translate(-50%, -85%);
    color: #ffcd00;
}

.progress-text {
    transform: translate(-50%, 0%);
    color: #585858;
    font-size: 21px;
}